* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

body {
  width: 100%;
  height: auto;
  background-color: none;
}

header,
.app-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  padding: 2rem;
}
header .title {
  font-size: 4rem;
  font-family: "DotGothic16";
}

header .date {
  padding-top: 50px;
}

.app-box {
  border: none;
  outline: none;

  align-items: center;
  left: auto;
  min-width: 500px;
  background-color: aqua;
}

input {
  width: 100%;
  max-width: 500px;
  padding: 20px 15px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #a2d9ff;
  font-size: 1.2rem;
}

@media only screen and (max-width: 480px) {
  header {
  }
}
